.box{
    border: 1px solid whitesmoke;
    padding-bottom: 4px;
}

.design{
    color: var(--lwc-colorTextActionLabel);
    background-color: var(--lwc-colorBackgroundAltInverse);
    padding: 8px;
}

.div2{
    margin: 9px;
}